*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(212, 45%, 89%);
font-family: 'Outfit', sans-serif;
}
.card{
  width: 18rem;
    margin: 0 auto;
    padding: 20px;
    background: hsl(0, 0%, 100%);
    border: 1px solid #ccc;
    border-radius: 1rem;
    display: relative;
    /* top: 50%; */
    transform: translateY(22%);

}
.qr-code {
    width: 100%;
    border-radius: 10px;
  }
  .text {
    font-weight: 700;
    margin-top: 0.8rem;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
  }
  .upr-txt{
    color: rgba(43,53,81,255);
  }

  .text > .btm-txt{
    font-family: 400;
    margin-top: 0.8rem;
    color: rgba(151,154,161,255);
  }

  .attribution{
    position: fixed;
    bottom: 0;
     width: 100%;
     padding: 20px;
     display: flex;
     justify-content: center;
  }
  .attribution > a{
    text-decoration: none;
    color: hsl(218, 44%, 22%);
  }